--
-- PostgreSQL database dump
--

\restrict 6GnRpnNqHdSSFrWNaSydS2RJKshZOAWzad0ppmShV9DPb0KDjcz5aqrPG9bCTcP

-- Dumped from database version 17.6 (Debian 17.6-2.pgdg12+1)
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: database_5in8_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO database_5in8_user;

--
-- Name: epf_status_enum; Type: TYPE; Schema: public; Owner: database_5in8_user
--

CREATE TYPE public.epf_status_enum AS ENUM (
    'pending',
    'confirmed',
    'rejected'
);


ALTER TYPE public.epf_status_enum OWNER TO database_5in8_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: epf; Type: TABLE; Schema: public; Owner: database_5in8_user
--

CREATE TABLE public.epf (
    id integer NOT NULL,
    name character varying NOT NULL,
    "uanNumber" character varying,
    "aadharNumber" character varying,
    "aadharCardName" character varying,
    dob character varying,
    "aadharMobile" character varying,
    "bankAccountNumber" character varying,
    "ifscCode" character varying,
    "commissionAmount" integer,
    "paidAmount" integer,
    "workStatus" character varying,
    password character varying,
    "createDate" character varying,
    "updatedDate" character varying,
    "confirmDate" character varying,
    "updatedStatus" character varying,
    "uanPassword" character varying,
    status public.epf_status_enum DEFAULT 'pending'::public.epf_status_enum NOT NULL
);


ALTER TABLE public.epf OWNER TO database_5in8_user;

--
-- Name: epf_id_seq; Type: SEQUENCE; Schema: public; Owner: database_5in8_user
--

CREATE SEQUENCE public.epf_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.epf_id_seq OWNER TO database_5in8_user;

--
-- Name: epf_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: database_5in8_user
--

ALTER SEQUENCE public.epf_id_seq OWNED BY public.epf.id;


--
-- Name: epf id; Type: DEFAULT; Schema: public; Owner: database_5in8_user
--

ALTER TABLE ONLY public.epf ALTER COLUMN id SET DEFAULT nextval('public.epf_id_seq'::regclass);


--
-- Data for Name: epf; Type: TABLE DATA; Schema: public; Owner: database_5in8_user
--



--
-- Name: epf_id_seq; Type: SEQUENCE SET; Schema: public; Owner: database_5in8_user
--

SELECT pg_catalog.setval('public.epf_id_seq', 10, true);


--
-- Name: epf PK_dcd795afffcc80853e4bf55a8de; Type: CONSTRAINT; Schema: public; Owner: database_5in8_user
--

ALTER TABLE ONLY public.epf
    ADD CONSTRAINT "PK_dcd795afffcc80853e4bf55a8de" PRIMARY KEY (id);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO database_5in8_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO database_5in8_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO database_5in8_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO database_5in8_user;


--
-- PostgreSQL database dump complete
--

\unrestrict 6GnRpnNqHdSSFrWNaSydS2RJKshZOAWzad0ppmShV9DPb0KDjcz5aqrPG9bCTcP

